
<div class='row'>
<%= render :partial => "work/tab" %>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
        
        <div class='row'>
            <h1 class='col-md-3'>
                ~8.25
            </h1>
            
            <h1 class='col-md-3'>
                서울대 입구
            </h1>
            
            <h1 class='col-md-3'>
                이디야
            </h1>
            <h1 class='col-md-3'>
                6:00PM
            </h1>
            
        </div>
    
        <div class='row tabbox'>
        
            <% @name.each do |t| %>
            <% size = 12/@name.size %>
                <div class='col-md-<%= size %>
                    <% if(t['on']) %>
                        on
                    <% else %>
                        off
                    <% end %>
                '>
                    <%= t['name'] %>
                </div>
            <% end %>
            
            
        </div>
    
    
        <ul>
            <p>1. 조사</p>
            <p>2. 조사</p>
            <p>3. 조사</p>
        </ul>
        
        <button class='btn btn-default' align='center'> 평가하기 </button>
        
    </div>
    
    
</div>