<div class = 'all'>
    <div class = 'left'>
        
                <ul class="nav">
                <li><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li>
                </ul>
                <ul class="nav">
                <li><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li>
                </ul>
                <ul class="nav">
                <li><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li>
                </ul>
                <ul class="nav">
                <li><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li>
                </ul>
    </div>
    
    <div class = 'right'>
        
        <div id='header'>
            a<br><br><br>  
        </div>
        
        <div class='content'>
            a<br><br><br>
        </div>
        
    </div>
</div>